@model IEnumerable<api_caixa_igreja.Models.Entities.Ofertas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdAdultos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdCriancas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCulto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembroMinistrante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembroOfertante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdAdultos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdCriancas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalOferta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCulto.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoOferta.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembroMinistrante.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembroOfertante.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
